{% extends "empty_file.html" %}

{% block head %}

<style>
    .button_search {
        background-color: green;
        color: white;
        width: 100px;
        height: 40px;
    }
    h1{
        font-family: 'Press Start 2P', cursive;
    }
</style>

{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>EVERYTHING IS PERFECT</h1>
    <h1>DO NOT TOUCH!</h1>
    <button class="button button_search border-2 rounded-3xl p-3"><a href="main/">Ok</a></button>
</div>
{% endblock content %}